<!DOCTYPE html>
<html lang="en">
<title>Quinstantly!</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<head>
  <link href='http://fonts.googleapis.com/css?family=Allerta+Stencil' rel='stylesheet' type='text/css'>
</head>

<body>
<div id="tenant-main">

  <div id="big-row" class="row">

    <!-- LEFT SIDEBAR -->
    <div class="col-md-2">
      <div id="left-sidebar" class="panel">
        <h1 class="rotate">ReplyStyle</h1>
      </div>
    </div>

    <div id="middle-column" class="col-md-8">

      <!-- SEARCH -->
      <div class="row">
        <div id="search" class="col-md-offset-2 col-md-8">
          <div id="searchbox">
            <input id="search-text" type="text" placeholder="Search through conversations...">
            <input id="search-submit" type="submit" value="Search">
          </div>
        </div>
      </div>

      <!-- MENU -->
      <div class="row">
        <div id="menu-main" class="col-md-12">
          <ul class="nav nav-pills nav-justified">
            <li id="pill-questions"><a>Questions</a></li>
            <li id="pill-profile"><a>Profile</a></li>
            <li id="pill-users"><a>Users</a></li>
            <li id="pill-dashboard"><a>Dashboard</a></li>
            <li id="pill-settings"><a>Settings</a></li>
          </ul>
        </div>
      </div>

      <div id="panel-questions" class="panel menu-panel">
        <%= render 'panel_questions' %>
      </div>

      <div id="panel-profile" class="panel menu-panel">
        <%= render 'panel_profile' %>
      </div>

      <div id="panel-users" class="panel menu-panel">
        <%= render 'panel_users' %>
      </div>

      <div id="panel-dashboard" class="panel menu-panel ">
        <%= render 'panel_dashboard' %>
      </div>

      <div id="panel-settings" class="panel menu-panel col-md-12">
        <%= render 'panel_settings' %>
      </div>

      <div id="panel-results" class="panel menu-panel">
      </div>

      <%= render 'sign_in' %>

      <%= render 'sign_up' %>

    </div>

    <!-- RIGHT SIDEBAR -->
    <div class="col-md-2">
      <div id="right-sidebar" class="panel">
        <div id='availability-widget' class='row btn-group'>
          <button type='button' id='availability-button' class='btn dropdown-toggle' data-toggle='dropdown'>
            <span id='availability-button-label'>xxx</span>
            <span class='caret'></span>
          </button>
          <ul class='dropdown-menu' role='menu'>
            <li><a id='logout-action'>Logout</a></li>
            <li><a id='online-action'>Go Online</a></li>
            <li><a id='offline-action'>Go Offline</a></li>
          </ul>
        </div>
        <div id='demo-widget' class="row btn-group">
          <button type='button' id='demo-button' class='btn dropdown-toggle' data-toggle='dropdown'>
            <span id='demo-button-label'>Off</span>
            <span class='caret'></span>
          </button>
          <ul class='dropdown-menu' role='menu'>
            <li><a id='demo-on'>On</a></li>
            <li><a id='demo-pause'>Pause</a></li>
            <li><a id='demo-off'>Off</a></li>
          </ul>
        </div>
      </div>
    </div>

  </div>

</div>
</body>
</html>