<%
if sample
  message_author_role = 'MESSAGEAUTHORROLE'
  message_author_display_name = 'MESSAGEAUTHORDISPLAYNAME'
  message_text = 'MESSAGETEXT'
  message_created_at = 'MESSAGECREATEDAT'
else
  message_author_role = message.author_role
  message_author_display_name = message.author_display_name
  message_text = message.text
  message_created_at = message.created_at.strftime('%l:%M %P')
end
%>

<tr<%= sample ? ' id=message-template' : ''%> class="message-summary role-<%= message_author_role%>">
  <td class="name-block"><p><%= message_author_display_name %></p></td>
  <td class="message-block">
    <p class="time-block"><%= message_created_at %></p>
    <p class="message-text"><%= raw(message_text) %></p>
  </td>
</tr>
